%section{:id => 'main' }
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .page-header
          %h1 Długi <i class='glyphicon glyphicon-plus'></i>
          %h1 Pożyczki <i class='glyphicon glyphicon-plus'></i>
          %h1 Wydatki <i class='glyphicon glyphicon-plus'></i>
