// Place all the styles related to the my_wallet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-color: #fdfdfd;
$dark-gray: #747578;
$light-gray: #c9c8c6;
$magneta: #a6004a;
$default-font: Helvetica;
$old-blue: #0c6373;
$blue: #307A88;

body {
  background-color: $light-color;
  font-family: $default-font;
  color: $dark-gray;
}
.text-magneta {
  color: $magneta;
  font-size: 140%;
}
.wallet-form {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $dark-gray;
  background-color: $light-color;
  background-image: none;
  border: 1px solid $light-gray;
  border-radius: 4px;
  &:focus {
    border-color: $old-blue;
    outline:0;
  }
}
.btn-wallet {
  color: $light-color;
  background-color: $blue;
  &:hover {
    color: $light-color;
    background-color: $old-blue;
  }
}
.btn-wallet-inverted {
  color: $magneta;
  background-color: $light-color;
  &:hover {
    color: $old-blue;
  }
}
.session {
  background-color: $magneta;
  color: $light-color;
  font-family: $default-font;
  padding: 10%;
}
.large {
  font-size: 15em;
}
.link {
  &:link,
  &:visited,
  &:active {
    color: $blue,
  }
  &:hover {
    color: $old-blue;
  }
}
.link-inverted {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $light-color;
  }
}
footer {
  border-top: solid 1px $magneta;
  bottom: 0px;
  color: $magneta;
  .footer-above {
    padding: 50px;
    background-color: $light-color;
    color: $blue;
  }
  .footer-below {
    padding: 25px;
    background-color: $light-gray;
  }
}
